@charset "UTF-8";
summary .name {
  font-size: 1.2rem; }

summary .job-title {
  font-size: 1rem;
  color: var(--g); }

summary hr {
  margin-bottom: 1rem; }

summary .fa-map-marker-alt {
  color: red; }

summary .social-links {
  font-size: 2.5rem; }
  summary .social-links a {
    margin: 0 15px;
    text-decoration: none; }
  summary .social-links .fa-linkedin {
    color: #2877B7; }
  summary .social-links .fa-stack-overflow {
    color: #EC7F0C; }
  summary .social-links .fa-github {
    color: black; }

summary ul > li:before {
  content: "✓"; }

summary img.img-qr {
  max-height: 150px; }

ul {
  position: relative;
  list-style: none;
  padding-left: 1.2em;
  margin: 0; }
  ul > li:before {
    left: 0;
    content: "★";
    display: block;
    width: 1.2em;
    position: absolute; }
  ul ul > li:before {
    content: "•"; }

.fa-star {
  color: #67bc1d; }

.spacer {
  margin-bottom: 2rem; }

.card-column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 30px; }
  .card-column .card {
    height: 100%;
    margin-bottom: 0; }
    .card-column .card .card-quote {
      margin-left: 30px;
      padding: 30px;
      padding-bottom: 50px;
      font-weight: normal; }
      .card-column .card .card-quote:before {
        content: "‟";
        position: absolute;
        left: 30px;
        font-size: 75px;
        color: #000;
        font-family: Arial;
        color: var(--g);
        top: 0; }
      .card-column .card .card-quote .source {
        display: block;
        text-align: right;
        color: var(--g);
        position: absolute;
        bottom: 15px;
        right: 15px; }
        .card-column .card .card-quote .source a {
          color: var(--g);
          text-decoration: underline; }
  .card-column > .highlight {
    grid-column: span 2; }

.section-header {
  margin-bottom: 30px; }
  .section-header .section-header-line {
    border-top: 8px solid var(--b);
    margin-bottom: 20px; }
  .section-header h2 {
    color: var(--b);
    font-size: 2rem; }

.experience-tree {
  position: relative; }
  .experience-tree .experience-tree-divider {
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border-left: 3px solid var(--b); }
  .experience-tree .experience-time {
    font-size: 1.5rem;
    color: var(--b); }
  .experience-tree .card {
    margin-bottom: 2rem; }
    .experience-tree .card .card-header .job-company {
      text-transform: none;
      letter-spacing: normal; }
    .experience-tree .card .card-body {
      padding: 1rem; }
      .experience-tree .card .card-body .short-description {
        color: var(--g);
        font-weight: normal; }

.cert img.img-cert {
  max-height: 200px; }

@media only print {
  summary .social-links {
    font-size: 1rem; }
    summary .social-links a {
      margin: 0; }
  .experience-tree .experience-tree-divider {
    display: none; }
  .spacer {
    margin-bottom: 1rem; }
  .text-print-left {
    text-align: left !important; } }
