@page

@{
    this.ViewBag.Title = "Home_Title".Lookup();
}

<div class="text-center font-weight-lighter">
    <h1 class="font-weight-lighter">Coming soon!</h1>
    <p>
        I am messing around with some code.<br />
        They will come online soon.<br />
        Promise!
    </p>
</div>
