@page

@{
    this.ViewBag.Title = "Home_Title".Lookup();
}

<div class="row">
    <div class="col-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                <a href="/presentation">
                    @("Presentation_Title".Lookup())
                </a>
            </div>
            <div class="card-body">
                @("Online image presentation viewer.".Lookup())
            </div>
        </div>

    </div>
</div>

