.game-boards {
  flex-grow: 1; }
  .game-boards .col {
    margin-right: .5rem; }
  .game-boards .game-board {
    display: flex; }
    .game-boards .game-board .ship {
      display: none; }
    .game-boards .game-board.owner .has-ship .icon-ship {
      display: inherit; }
    .game-boards .game-board .cell {
      position: relative;
      border: 1px solid #e8e8e8;
      transition: all ease-in-out .3s;
      cursor: pointer;
      background-color: #1CA3EC; }
      .game-boards .game-board .cell:hover {
        background-color: #0F5E9C; }
      .game-boards .game-board .cell .icon {
        position: absolute;
        left: 5px;
        top: 5px;
        bottom: 5px;
        right: 5px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: none; }
        .game-boards .game-board .cell .icon.icon-ship, .game-boards .game-board .cell .icon.icon-cross {
          z-index: 2; }
        .game-boards .game-board .cell .icon.icon-fire {
          z-index: 3; }
      .game-boards .game-board .cell.miss .icon-cross,
      .game-boards .game-board .cell.fire .icon-fire,
      .game-boards .game-board .cell.fire .icon-ship {
        display: inherit; }
