@page "/numbers/{id}"

@{
    this.ViewBag.Title = "Numbers";

    var id = this.RouteData.Values["id"].ToString();
}

@section Heads {

    <link rel="stylesheet" href="~/apps/numbers/css/board.min.css" asp-append-version="true" />

} 

<div class="container" data-id="@(id)">
    <div class="min-100vh d-flex flex-column">
        <h1>Numbers</h1>

        <div class="row">
            <div class="col">
                <p>Players and Score:</p>
                <div id="lst-players"></div>
            </div>
            <div class="col text-center">
                <p>Current Numbers:</p>
                <h2 id="lbl-current" class="d-none">-1</h2>
                <p>
                    <button id="btn-start" class="btn btn-primary">Start Game</button>
                </p>
            </div>
        </div>

        <div id="board" class="game-board"></div>
    </div>
</div>

@section Scripts {

    <script defer type="module" src="~/apps/numbers/js/game.js" asp-append-version="true"></script>

}