@page

    <div class="container">
        <h1>Welcome</h1>

        <p>
            <a href="/numbers">Numbers</a>
        </p>

        <p>
            <a href="/board">Board</a>
        </p>

        <p>
            <a href="/ships">Ships</a>
        </p>
    </div>
