@inject DefaultWebSettings settings;

@if (this.settings.Languages != null && this.settings.Languages.Length > 1)
{
    <div class="panel-language">
        <select class="form-control cbo-languages">
            @foreach (var language in this.settings.Languages)
            {
                <option value="@(language.Code)">
                    @(language.EnglishName)
                    (@(language.LocalName))
                </option>
            }
        </select>
    </div>
}

