@functions {

    static readonly IEnumerable<(string Key, string Url)> NavLinks = new[] 
    {
        ("Resume", "https://www.lukevo.com/"),
        ("Tools", "https://tools.lukevo.com/"),
        ("ContactMe", "mailto:contact@lukevo.com"),
    };

}

<header class="d-print-none">
    <div class="container">
        <div class="d-flex">
            <nav>
                <a href="https://www.lukevo.com/">
                    <h1>@("Brand".Lookup())</h1>
                </a>

                @foreach (var item in NavLinks)
                {
                    <a href="@(item.Url)">@(item.Key.Lookup())</a>
                }
            </nav>
            <div class="mx-auto"></div>
            
            <partial name="_LanguageSelector" />
        </div>
        
    </div>
</header>